# Iris classification

In [1]:
import numpy as np
import pandas as pd

### Importing the data

In [3]:
df = pd.read_csv('./iris.csv', index_col=0)

df.shape

(150, 5)

In [4]:
df.head()

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
Id
1             5.1           3.5            1.4           0.2  Iris-setosa
2             4.9           3.0            1.4           0.2  Iris-setosa
3             4.7           3.2            1.3           0.2  Iris-setosa
4             4.6           3.1            1.5           0.2  Iris-setosa
5             5.0           3.6            1.4           0.2  Iris-setosa

# Preparing the data

### Species classification
- Iris-setosa => 1
- Iris-versicolor => 2
- Iris-virginica => 3

In [5]:
# change the labes for values
df.loc[df.Species == 'Iris-setosa', 'Species'] = 1
df.loc[df.Species == 'Iris-versicolor', 'Species'] = 2
df.loc[df.Species == 'Iris-virginica', 'Species'] = 3


df.head()

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm Species
Id
1             5.1           3.5            1.4           0.2       1
2             4.9           3.0            1.4           0.2       1
3             4.7           3.2            1.3           0.2       1
4             4.6           3.1            1.5           0.2       1
5             5.0           3.6            1.4           0.2       1

In [6]:
train_values = df.sample(frac=0.6).astype(float)
test_values = df.sample(frac=0.4).astype(float)

train_inputs = train_values.as_matrix(
    columns=['SepalLengthCm', 'SepalWidthCm',
    'PetalLengthCm', 'PetalWidthCm']).astype(float)

train_predicts = train_values['Species'].values.astype(int)

### Training the model

In [7]:
from sklearn.naive_bayes import GaussianNB

model = GaussianNB()

# aqui ta o pulo do gato
model.fit(train_inputs, train_predicts)

GaussianNB(priors=None)

In [10]:
predicted = model.predict([
    [5.1, 3.5, 1.4, 0.2],
    [4.9, 3.0, 1.4, 0.2],
    [7.0, 3.2, 4.7, 1.4],
    [6.9, 3.1, 5.1, 2.3]
])

print(predicted)

[1 1 2 3]